section#lecture{
	margin-left:25%;
	margin-right:auto;
	width:60em;
	/*border:1px solid #ccc;*/
	display:block;


}


#side-nav-wrapper a{
	text-decoration:none;
	border-bottom:none;

}

#side-nav-wrapper nav{
	background-color:#F4F4F2;
	position:fixed;
	height:100%;
	width:13em;
	border-right:0.1em solid #ddd;
	top:3.65em;
	padding-top:2em;
	display:block;

}

#side-nav-wrapper nav ul{
	height:100%;
	width:100%;
	padding:0;
	right:0.01em;
	position:absolute;
	display:block;
}

#side-nav-wrapper nav ul li{
	list-style-type:none;
	margin-left:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	font: 300 0.9em 'roboto','arial', sans-serif;

}

#side-nav-wrapper nav ul li a{
	color:#30302f;
	text-transform:capitalize;
	font: 300 0.9em 'roboto','arial', sans-serif;
	letter-spacing:0.08em;
	padding-top:0.25em;
	padding-bottom:0.25em;


}

#side-nav-wrapper nav ul li:link{
	color:#30302f;
	letter-spacing:0.08em;

}

#side-nav-wrapper nav ul li:visited{
	color:#30302f;
	letter-spacing:0.08em;

}

#side-nav-wrapper nav ul li:hover{
	color:#30302f;
	letter-spacing:0.08em;
	background-color:#fff;


}


#side-nav-wrapper nav ul li:active{
	color:#30302f;
	letter-spacing:0.08em;

}



#side-nav-wrapper{
	position:absolute;
	height:100%;
}

#current-section{
	background-color:#fff;

}