a{
	text-decoration:none;

}

nav{
	background-color:#F4F4F2;
	position:fixed;
	height:100%;
	width:13em;
	border-right:0.05em solid #ddd;
	top:3.65em;
}

nav ul{
	height:100%;
	width:100%;
	padding-left:0;
	margin-right:auto;
	margin-left:auto;
	position:absolute;
}

nav ul li{
	list-style-type:none;
	margin-left:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	font: 300 0.9em 'roboto','arial', sans-serif;

}

nav ul li a{
	color:#30302f;
	text-transform:capitalize;
	font: 300 0.9em 'roboto','arial', sans-serif;
	letter-spacing:0.08em;
	padding-top:0.25em;
	padding-bottom:0.25em;


}

nav ul li:link{
	color:#30302f;
	letter-spacing:0.08em;

}

nav ul li:visited{
	color:#30302f;
	letter-spacing:0.08em;

}

nav ul li:hover{
	color:#30302f;
	letter-spacing:0.08em;
	background-color:#fff;


}


nav ul li:active{
	color:#30302f;
	letter-spacing:0.08em;

}





#side-nav-wrapper{
	position:absolute;
	height:100%;
}

#current-section{
	background-color:#fff;

}