section#lecture{
	margin-left:25%;
	margin-right:auto;
	width:60em;
	/*border:1px solid #ccc;*/
	display:block;


}


#side-nav-style{
	position:fixed;
	height:100%;
	width:13em;
	border-right:0.1em solid #ddd;
	top:3.65em;
	padding-top:2em;
	font: 300 0.9em 'roboto','arial', sans-serif;
	padding-right:2em;
}


/*nav parent*/

#side-nav-style ul li{
	list-style-type:none;
	margin:0.25em auto;

}


#side-nav-style ul li ul{
	list-style-type:none;
	padding-left:2.5em;
	font: 300 0.9em 'roboto', sans-serif;

}


#side-nav-wrapper a{
	text-decoration:none;
	border-bottom:none;
	font: 300 1em 'roboto', sans-serif;
	margin:0.25em;


}

#side-nav-style ul li a:link{
	color:#30302f;

}

#side-nav-style ul li a:visited{
	color:#30302f;

}

#side-nav-style ul li a:hover{
	color:#ffd464;
	margin:0.25em;


}

#side-nav-style ul li a:active{
	color:#30302f;

}



#side-nav-style ul li a#current-week{
	font-weight:400;

}

/*#side-nav-style ul li ul li a:nth-last-child(){
	color:#1253a4;

}*/


/*nav children*/
#side-nav-style ul li ul a{
	color:#30302f;
	font-weight:300;
	letter-spacing:0.08em;

}

#side-nav-style ul li:hover{
	list-style-type:none;
	margin-left:auto;
	margin-right:auto;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}

#side-nav-style #disabled li a{
	color:#ccc;
	pointer-events:none;
	cursor:default;
}




/*

#side-nav-wrapper nav{
	background-color:#F4F4F2;
	position:fixed;
	height:100%;
	width:13em;
	border-right:0.1em solid #ddd;
	top:3.65em;
	padding-top:2em;


}

#side-nav-wrapper nav ul{
	height:100%;
	width:100%;
	padding:0;
	right:0.01em;
	position:absolute;
	display:block;
}

#side-nav-wrapper nav ul li{
	list-style-type:none;
	margin-left:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
	font: 300 0.9em 'roboto','arial', sans-serif;

}

#side-nav-wrapper nav ul li a{
	color:#30302f;
	text-transform:capitalize;
	font: 300 0.9em 'roboto','arial', sans-serif;
	letter-spacing:0.08em;
	padding-top:0.25em;
	padding-bottom:0.25em;


}

#side-nav-wrapper nav ul li:link{
	color:#30302f;
	letter-spacing:0.08em;

}

#side-nav-wrapper nav ul li:visited{
	color:#30302f;
	letter-spacing:0.08em;

}

#side-nav-wrapper nav ul li:hover{
	color:#30302f;
	letter-spacing:0.08em;
	background-color:#fff;


}


#side-nav-wrapper nav ul li:active{
	color:#30302f;
	letter-spacing:0.08em;

}


#side-nav-wrapper{
	position:absolute;
	height:100%;
}

#side-nav-wrapper ul.indent{
	padding-left:1em;
	/*display:none;*/

}*/


