/* HTML selectors */
table, tr, td {
	width: 100%;
	border: 1px solid none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td h3 {
	padding-top: 1em;
	padding-bottom: 1em;
}

tr {
	border: solid 1px #1253a4;
}

tr:nth-child(2n) {
    background-color: #e7edf5;  
}

a h3 {
	color: #1253a4;
}

a:link h3 {
	color: #1253a4;
}

a:visited h3 {
	color: #1253a4;
}

a:hover h3 {
	color: #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}


fieldset {
	border-width: 1px;
	border-style: solid;
	border-color:  #4169E1;
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

input, select, textarea {
	border-color:  #4169E1;
	border-style: solid;
	border-width: 1px;
	background-color: #F5F5F5;
	padding: 10px;
	font-family: 'Roboto';
	color:  #4169E1;
	font-size: 1em;
}

/* Class selectors */
.tba{
	color: grey;
	text-decoration: line-through;
}


/* ID selectors */

#submit {
	padding: 15px;
	background-color:  #4169E1;
	color: white;
	border-width: 1px;
	border-color:  #4169E1;
	margin: 40px;
	cursor: pointer;
}

#submit:hover {
	background-color: #F5F5F5;
	border-color: #4169E1;
	color: #4169E1;
}