/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

/* HTML selectors */
table, tr, td {
	width: 100%;
	border: 1px solid none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td h3 {
	padding-top: 1em;
	padding-bottom: 1em;
}

tr {
	border: solid 1px #1253a4;
}

tr:nth-child(2n) {
    background-color: #e7edf5;  
}

a h3 {
	color: #1253a4;
}

a:link h3 {
	color: #1253a4;
}

a:visited h3 {
	color: #1253a4;
}

a:hover h3 {
	color: #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}


fieldset {
	border-width: 0px;
	border-style: solid;
	border-color:  #1253a4;
	text-align: left;
	width: 60%;
}

input, select, textarea {
	border-color:  #1253a4;
	border-style: solid;
	border-width: 1px;
	background-color: #F4F4F2;
	padding: 10px;
	font-size: 1em;
	width: 75%;
	resize: none;
}

/* Class selectors */
.tba{
	color: grey;
	text-decoration: line-through;
}


.labelstyle {
	display: block;
	margin-top: 40px;
	margin-bottom: 10px;
	font-weight: 500;
}

.radiostyle {
	width: auto;
	margin-right: 0.75em;
}


.radiostyle2 {
	width: auto;
	margin-right: 0.75em;
	margin-top: 1.5em;
	float: left;

}


.radiolabel {
	color:#1253A4 ;
	font-weight: 500;
	margin-right: 3em;
}



.radiolabel2 {
	color:#1253A4 ;
	font-weight: 500;
	display: block;
	padding-top: 1.5em;
}


/* ID selectors */

#currentquiz {
	background-color: #1253A4;
}


#currentquiz a:link h3 {
	color: #F4F4F2;
}

#currentquiz a:visited h3 {
	color: #F4F4F2;
}

#currentquiz a:hover h3 {
	color: #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}


#submit {
	padding: 15px;
	background-color: #F4F4F2;
	color: #1253A4;
	border-width: 2px;
	border-color: #1253A4;
	cursor: pointer;
	font-family: 'Montserrat';
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 40px;
}

#submit:hover {
	background-color: #1253A4;
	border-color: #1253A4;
	color: #F4F4F2;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}

/* styles for printers */
@media print { 
	body {
		font-size: 0.65em;
	}

	nav, footer { 
		display: none !important;
	}

	section {
		margin-right: auto;
		margin-left: auto;
		padding: 0px 10px 0px 105px;
	}		

	a:link:after, 
	a:visited:after{
	   content: " (URL: " attr(href) ") ";
	   font-size: 90%;
	}

	#submit {
		display: none;
	}

	fieldset {
		width: 100%;
	}

	input, select, textarea {
	padding: 5px;

}

}