/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


/* HTML selectors */

body {
	background-color: #F4F4F2;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height:100%;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #f26964;
	text-transform: uppercase;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: #30302f;
	text-transform: uppercase;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #30302f;
}

a:link {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #1253A4;
	-webkit-text-decoration: underline dotted #f26964;
	text-decoration: underline dotted #f26964;
}

a:visited {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #1253A4;
	-webkit-text-decoration: underline dotted #f26964;
	text-decoration: underline dotted #f26964;
}

a:hover {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #ffd464;
	-webkit-text-decoration: underline dotted #ffd464;
	text-decoration: underline dotted #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}

a:active {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #1253A4;
}

header{
	margin-top:0;
	background-color: #30302f;
	position:relative;

}


nav{
	position:fixed;
	width:100%;
	top:0;
	padding-left:1em;

}

header nav{
	background-color: #1253a4;
}


header nav ul{
	margin:0;
	float:right;

}

header nav ul li{
	list-style-type:none;
	display:inline-block;
	padding:1.2em;
	letter-spacing:0.08em;
	
}

header nav ul li a:link{
	font-weight: 300;
	text-decoration:none;
	color: #f4f4f2;
}

header nav ul li a:visited{
	font-weight: 300;
	text-decoration:none;
	color: #f4f4f2;
}
header nav ul li a:hover{
	font-weight: 300;
	text-decoration:none;
	color: #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
header nav ul li a:active{
	font-weight: 300;
	text-decoration:none;
	color: #f4f4f2;
}

section{
	margin-top:6em;
	margin-left:2em;
}

footer{
	background-color:#ccc;
	margin-top:55em;
	padding-top:1.2em;
	padding-bottom:1.2em;
	padding-left:1em;
}

footer span{
	margin-right:3em;
}

/* Class selectors */



/* ID selectors */

#currentpage{
	border-bottom:0.19em solid #f4f4f2;
	padding-bottom:0.1em;

}

a#logo{
	text-decoration:none;
	font-size:1.4em;
	display:inline-block;
	margin:0.5em;
	padding:0;
	/*color:#1253a4;*/

}

a#logo:link{
	text-decoration:none;
	font-size:1.4em;
	display:inline-block;
	margin:0.5em;
	padding:0;
	color:#ffd464;
}

a#logo:visited{
	text-decoration:none;
	font-size:1.4em;
	display:inline-block;
	margin:0.5em;
	padding:0;
	color:#ffd464;
}

a#logo:hover{
	text-decoration:none;
	font-size:1.4em;
	display:inline-block;
	margin:0.5em;
	padding:0;
	color:#f4f4f2;
}


a#logo:active{
	text-decoration:none;
	font-size:1.4em;
	display:inline-block;
	margin:0.5em;
	padding:0;
	color:#ffd464;
}



#header-text{
	color:#fff;
	font-size:0.6em;
	margin-top:0.35em;
	margin-bottom:0.3em;
}
