/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


/* HTML selectors */
body {
	background-color: #F4F4F2;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 2em;
	color: #1253A4;
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	color: #30302f;
}

p {
	font-size: 1em;
	color: #30302f;
}



/* Class selectors */




/* ID selectors */