/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);


/* HTML selectors */
body {
	background-color: #F4F4F2;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: #1253A4;
	text-transform: uppercase;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: #30302f;
	text-transform: uppercase;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #30302f;
}

a:link {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #f26964;
	text-decoration: underline dotted #f26964;
}

a:visited {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #f26964;
}

a:hover {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #ffd464;
	-webkit-text-decoration: underline dotted #ffd464;
	text-decoration: underline dotted #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}

a:active {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #f26964;
}

header nav{
	background-color: #30302f;
}

header nav ul{
	margin:0;
}

header nav ul li{
	list-style-type:none;
	display:inline-block;
	padding:1.2em;
	letter-spacing:0.08em;
}

header nav ul li a:link{
	font-weight: 300;
	text-decoration:none;
	color: #f4f4f2;
}

header nav ul li a:visited{
	font-weight: 300;
	text-decoration:none;
	color: #f4f4f2;
}
header nav ul li a:hover{
	font-weight: 300;
	text-decoration:none;
	color: #ffd464;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
header nav ul li a:active{
	font-weight: 300;
	text-decoration:none;
	color: #f4f4f2;
}
/* Class selectors */




/* ID selectors */

#currentpage{
	border-bottom:0.19em solid #f4f4f2;
	padding-bottom:0.1em;

}